DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=1
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
TRONGRID_API_KEY=
SOHU_API_BASE_URL=https://sohuapi.158csm.site/sohuapi
SOHU_API_SECRET=
TELEGRAM_WEBHOOK_SECRET=
